body {
    font-family: "Lato", sans-serif;
   /* background-image: url("https://media.giphy.com/media/pWhWtKdqwOAco/giphy.gif");*/
  }
  
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20, 19, 19, 0.37);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("img/bg.jpg");
  
    min-height: 700px;
    min-width: 1509px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  .home
  {
    color: rgb(250, 248, 248);
    font-family: 'Chakra Petch';
   
     text-align:right;
     
  }
  .sidenav a {
    padding: 6px 8px 3px 8px;
    text-align: center;
    text-decoration: none;
    font-family: 'Alegreya Sans';
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration-color: antiquewhite;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(109, 107, 107, 0.19);
  }
  
  .main {
    margin-left: 300px; 
  /* Same as the width of the sidenav */
    
    padding: 0px 10px;
    margin-top: 4%;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
